.explore-menu-list::-webkit-scrollbar {
    display: none;
}


.explore-menu-list {
    scrollbar-width: none;
}
.explore-menu-list-item img {
    cursor: pointer;
}

.explore-menu-list-item .active {
    border: 5px solid tomato;
    padding: 2px;
}

.explore-menu-list-item p {
    color: #747474;
    cursor: pointer;
}

.scroll-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    color: #747474;
    transition: color 0.2s;
}

